<a href="https://colab.research.google.com/github/lucasprovenzano/CedearsPortfolioOptimizer/blob/main/CedearsPortfolioOptimizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as np
import pandas_datareader.data as web
import numpy as pd
import datetime as dt

In [39]:
# Defining date frame and reading daily data from Yahoo Finance. 
start = dt.datetime(2017, 1, 1)
end = dt.datetime(2021, 1, 1)

ticker_list = ['AAPL']

for element in ticker_list:
  df = web.DataReader(element,'yahoo')

                  High         Low  ...       Volume   Adj Close
Date                                ...
2016-02-08   23.924999   23.260000  ...  216085600.0   22.125422
2016-02-09   23.985001   23.482500  ...  177324800.0   22.120768
2016-02-10   24.087500   23.525000  ...  169374400.0   21.953094
2016-02-11   23.680000   23.147499  ...  200298800.0   21.820358
2016-02-12   23.625000   23.252501  ...  161405600.0   21.887894
...                ...         ...  ...          ...         ...
2021-01-29  136.740005  130.210007  ...  177180600.0  131.960007
2021-02-01  135.380005  130.929993  ...  106239800.0  134.139999
2021-02-02  136.309998  134.610001  ...   83305400.0  134.990005
2021-02-03  135.770004  133.610001  ...   89880900.0  133.940002
2021-02-04  137.399994  134.600006  ...   77881383.0  137.389999

[1258 rows x 6 columns]